/* https://google-webfonts-helper.herokuapp.com/fonts/ubuntu?subsets=cyrillic,cyrillic-ext,latin,latin-ext */

/* ubuntu-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('./fonts/ubuntu-v20-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url('./fonts/ubuntu-v20-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-italic - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 400;
	font-display: swap;

	src: local(''), url('./fonts/ubuntu-v20-latin-ext_latin_cyrillic-ext_cyrillic-italic.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('./fonts/ubuntu-v20-latin-ext_latin_cyrillic-ext_cyrillic-italic.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-500 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	font-display: swap;

	src: local(''), url('./fonts/ubuntu-v20-latin-ext_latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('./fonts/ubuntu-v20-latin-ext_latin_cyrillic-ext_cyrillic-500.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-700 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-display: swap;

	src: local(''), url('./fonts/ubuntu-v20-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('./fonts/ubuntu-v20-latin-ext_latin_cyrillic-ext_cyrillic-700.woff')
			format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
	font-family: 'Ubuntu', sans-serif;
	/* font-family: sans-serif; */
}

/* .navbar:hover {
  opacity: 1;
  transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
} */

/* .is-transparent {
  background-color: rgba(255, 255, 255, 0.69);
  background-image: none;
} */

/* flags */
/* https://github.com/lipis/flag-icons */
.fib {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}
.fi {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	width: 1.33333333em;
	line-height: 1em;
}
.fi:before {
	content: '\00a0';
}
.fi-cz {
	background-image: url(./flags/cz.svg);
}
.fi-gb {
	background-image: url(./flags/gb.svg);
}
.fi-ua {
	background-image: url(./flags/ua.svg);
}
